
.homepage_transports{
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    background-color: #F0F2F4;
}

.homepage_transports_links{
    text-align: center;
    /* border: 1.5px solid red; */
    font-size: 15px;
   
    width: 15%;
}



.homepage_topics{
    margin: auto;
    display: flex;
    max-width: 1150px;
    font-size: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.text{
    font-style: italic;
    color: #666666;
}

.homepage_topics-text{
    width: 60%;
}

.homepage_topics-image{
    width: 35%;
    height: 45%;
    box-shadow: 1px 1px 10px 0px black;
}


.banner{
    width: 100%;
    height: 600px;
    margin-bottom: -5px;
}

.header_baner{
    /* border: 1px solid green; */
    position: relative;
    
}

.arrow{
    position: absolute;
    font-size: 35px;
    cursor: pointer;
}

.fa-chevron-left{
    top: 50%;
    left: 5%;
}

.fa-chevron-right{
    top: 50%;
    left: 94%;
}

.header_baner{
    padding: 0px;
}

.dropdown_uslugi_content_ul>li>a{
   margin: 0;
}