@media screen and (max-width: 800px) {
    .header_logo{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .header_navigation_list, .header_navigation{
        flex-direction: column;
    }

    .dropdown_uslugi_content, .dropdown_company_content, .dropdown_cariera_content{
        left: -65%;
        min-width: 260px;
    }
}


.header_navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 55px;
    font-size: 12px;
}

.header_navigation_list{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    position: relative;
    align-items: center;
}

.header_navigation_list ul{
    padding: 0;
}

.dropdown_uslugi_content, .dropdown_company_content, .dropdown_cariera_content{

    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-top: 2px solid red;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 11px;
    
}

.header_navigation_list li {
    
    list-style: none;
}

.header_navigation_list a {
    text-decoration: none;
    /* border:  1px solid black; */
    margin-left: 15px;
    padding: 10px;
    border-radius: 10px;
}

.header_navigation_list a:nth-child(5) {
    background-color: #0099B7;
    color: white;
}

.dropdown_uslugi:hover .dropdown_uslugi_content, 
.dropdown_company:hover .dropdown_company_content, 
.dropdown_cariera:hover .dropdown_cariera_content {
    display: block;
}

.dropdown_uslugi_content li, .dropdown_company_content li, .dropdown_cariera_content li{
    /* border: 1px solid red; */
    padding: 15px 0px;
    text-align: left;

}

.dropdown_uslugi, .dropdown_company, .dropdown_cariera{
    /* border: 1px solid green; */
    padding: 15px 0px;
}
