@media screen and (max-width: 700px) {
    .career-banner-values {
        
        flex-direction: column;
    }

    .career-look-inside {
        flex-direction: column;
        text-align: center;
    }

}

.career-banner-img{
    width: 100%;
    height: auto;
}

.career-banner-values{
    display: flex;
    flex-wrap: wrap;
}

.career-banner-values-card-V, 
.career-banner-values-card-A, 
.career-banner-values-card-L, 
.career-banner-values-card-U, 
.career-banner-values-card-E, 
.career-banner-values-card-S{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
}

.career-banner-values-card-V{
    background-color: #22B5BF;
    color: white;
    width: 33.333%;
    height: 300px;
    text-align: center;
}

.career-banner-values-card-A{
    background-color: #F7C808;
    color: white;
    width: 33.333%;
    height: 300px;
    text-align: center;
}

.career-banner-values-card-L{
    background-color: #F68124;
    color: white;
    width: 33.333%;
    height: 300px;
    text-align: center;
}

.career-banner-values-card-U{
    background-color: #D2315D;
    color: white;
    width: 33.333%;
    height: 300px;
    text-align: center;
}

.career-banner-values-card-E{
    background-color: #8767A6;
    color: white;
    width: 33.333%;
    height: 300px;
    text-align: center;
}

.career-banner-values-card-S{
    background-color: #7DB12F;
    color: white;
    width: 33.333%;
    height: 300px;
    text-align: center;
}

.career-look-inside{
    display: flex;
    justify-content: space-evenly;
    height: 350px ;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    align-items: center;
    font-size: 25px;
    text-align: center;
}

@media all and (max-width: 700px) {
    
    .career-banner-values-card-V, 
    .career-banner-values-card-A, 
    .career-banner-values-card-L, 
    .career-banner-values-card-U, 
    .career-banner-values-card-E, 
    .career-banner-values-card-S {
        width: 100%;
    }
}

.career-banner-intro{
    width: 70%;
    margin: auto;
    font-size: 25px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}

.career-banner-intro-h1{
    color: red;
}

.career-banner-intro-p{
    color: #666666;
}

.career-banner-offer-container{
    padding: 10px 0;
    width: 70%;
    margin: auto;
}

.career-banner-offer{
    background-color: #0099B7;
    font-size: 20px;
}

.career-banner-offer-h1{
    color: #F7C808;
}

.career-banner-offer-ul{
    color: white;
}